<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>resurgens.io</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Special+Elite" rel="stylesheet">
  </head>

  <body class="bg-repeatable">
    <header class="header bg-header">
      <nav role="navigation">
        <ol class="breadcrumb pull-right typewriter">
          <!-- <li><button href="#" class="btn-lg menu-drop"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button></li> -->
          <li>Flog</li>
          <li>Bio</li>
          <li><%= link "Portfolio", to: portfolio_path(@conn, :index) %></li>
          <%= if @current_user do %>
            <li><%= link "All Users", to: user_path(@conn, :index) %></li>
            <li><%= link "Logout", to: session_path(@conn, :delete, @current_user), method: :delete %></li>
            <li class="dropdown">
              <button type="button" id="user-dd" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border: 0; background: transparent;">
                <span class="glyphicon glyphicon-user"></span> <%= @current_user.username %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user-dd">
                <li role="separator" class="divider"></li>
                <li><%= link "All Users", to: user_path(@conn, :index) %></li>
              </ul>
            </li>
          <%= else %>
            <li><%= link "Login", to: session_path(@conn, :new) %></li>
          <% end %>
        </ol>
      </nav>
      <span class="logo"><span class="typewriter text-center"><h1><a href="/" style="color: black;">resurgens.io</a></h1></span></span>
      <div class="bg-sep">

      </div>
    </header>
    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <br><br>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
