/* This file is for your main application css.
Color theme:
- Primary color group (green)
  - Dark: #5CD489
  - Light:  #E1FDEB
- Secondary color group
  - Light yellow: #FEFAE1
  - Pewter: #838383
  - Dark brown: #545448
*/
.menu-drop {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
}
.breadcrumb {
  font-size: 120%;
  background-color: #FFFFFF !important;
  border-radius: 0em 0em 0em 1em !important;
}
.jumbotron {
  background-color: #FFFFFF !important;

}
.template-wide {
  padding: 20px;
}
.bg-header {
  background-color: #B1F6CB;
}
.bg-sep {
  background-color: #5CD489;
  height: 5px;
}
.bg-white-rad {
  background-color: #FFFFFF;
  padding: 0em 2em 2em 2em;
  border-radius: 2em;
}
/* Background pattern from subtlepatterns.com */
.bg-repeatable {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/congruent_pentagon.png");
  background-repeat: repeat;
}
.chalk {
  font-family: 'Fredericka the Great', cursive;
}
.typewriter {
  font-family: 'Special Elite', cursive;
}
.shadow {
  text-shadow: 1px 1px gray;
}
