/* This file is for your main application css.
Color theme:
- Primary color group (blue)
  - Dark: #57778E
  - Light:  #ACC8D6
- Secondary color group
  - Light yellow: #FEFAE1
  - Pewter: #838383
  - Dark brown: #545448
*/
.btn-lg {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 2em;
  margin-right: 1em;
}

.template-wide {
  padding: 20px;
}
.bg-header {
  background-color: #ACC8D6;
}
.bg-sep {
  background-color: #57778E;
  height: 5px;
}
.bg-main {
  background-color: #FEFAE1;
}
/* Background pattern from subtlepatterns.com */
.bg-repeatable {
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/congruent_pentagon.png");
  background-repeat: repeat;
}

<body class="home blog" style="background: url(&quot;http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/sayagata-400px.png&quot;);"><div id="adpack">
